*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background-color: #665c84;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background-color: #ff7657;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background-color: #ff7657;
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background-color: #ff7657;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background-color: #ff7657;
        }
            h1{
                background-color: #665c84;
            }
    .section{
        background-color: #000;
        display: flex;

    }
        .articulos{
            background-color: #ff7657;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articulo{
                background-color: #665c84;
                flex: 1 1 40%;
            }
            .navegacion{
                background-color: #8d82ad;
                flex: 1 1 100%;
            }
        .aside{
            background-color: pink;
            flex: 1 1 auto;
        }
            .publicidad{
                background-color: yellow;
            }
    .footer{
        background-color: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background-color: yellow;
            width: 300px;
        }
@media all and (max-width:800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width:400px){
    aside{
        flex-direction: column;
    }
}