.body{
    background-color: plum;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto
    , Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex_container{
    color: black;
    display: flex;
    flex: content;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    flex-direction: column;
}
.item{
    font-size: 2em;
    padding: 50px;
    
}
#header{
    background-color: salmon;
    border-radius: 20px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;

}
#precio{
    width: 55px;
    
}
#boton{
    font-size: 2em;
    border-radius: 20px;
    background-color: salmon;
    cursor: pointer;
}
#boton:hover{
    text-shadow: 0em 0em 10px plum;
}
#resultado{
    width: 55px;
}

