*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.padreFlex{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color: rgb(6, 234, 255);
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background-color: rgb(6, 234, 255);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            margin: 10px;
            color: white;
        }
            .companyia{
                background-color:rgb(6, 234, 255);;
                font-size: 2em;
            }
            .botonera{
                background-color: rgb(6, 234, 255);;
            }
                div ul li{
                    display: inline;
                    margin: 10px;
                    cursor: pointer;
                }
                div ul li:hover{
                    text-shadow: 2px 2px rgb(185, 182, 182);
                }
                div ul li a{
                    text-decoration: none;
                    color: white;
                }
    .section{
        color: black;
    }
        .contenido{
            display: flex;
            flex-flow: row nowrap;
            color: black;
            justify-content: space-around;
            height: 500px;
        }
            .asideL{
                width: 190px;
                text-align: center;
                padding: 20px;
            }
            .texto{
                width: 880px;
                border-left: 0.5px solid rgb(175, 174, 174);
                border-right: 0.5px solid rgb(175, 174, 174);
                text-align: justify;
                padding: 20px;
            }
            .asideR{
                width: 190px;
                text-align: center;
                padding: 20px;
            }
    .footer{
        background-color:  rgb(6, 234, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        color: white;
    }
        .pie{
        }
@media all and (max-width:800px){
    .papaFlex{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
    
}