.container{
	margin: 0 auto;
	height: 600px;
	width: 900px;
	background-color: #9DD0E5;	
	font-family: arial, sans-serif;
}
.header{
	 padding: 20px;
	 height: 30px;
	 width: 880px;
}
.container2{
	font-family: arial, sans-serif;
	display: flex;
	justify-content: space-around;
	text-align: left;
}
.textLeft{
	height: 295px;
	width: 230px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
.textCenter{
	height: 295px;
	width: 230px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
.textRight{
	height: 295px;
	width: 230px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
.boton{
	text-align: center;
	margin-top: 40px;
	margin-left: 400px;
	display: inline-block;
	border: 1px solid white; 
	padding: 10px; 
	background-color: white;
	color: #ffffff; 
	text-decoration: none; 
	font-family: 'Helvetica', sans-serif; 
	border-radius:  5px; 
	color: black;
	font-weight: bold;;
}
.footer{
	color: white;
}
.company{
	display:inline-block;
	margin-left: 30px;
	margin-top: 16px;
	font-size: 12px;

}
.menu{
	display: flex;
	justify-content: space-evenly;
	height: 20px;
	width: 300px;
	margin-top: -14px;
	margin-left: 610px;
	font-size: 12px;
}