.container{
	margin: 0 auto;
	height: 600px;
	width: 900px;
}
.cabecera{
	color: white;
	background-color: #9DD0E5;
	height: 40px;
}
.company{
	display:inline-block;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 12px;

}
.menu{
	display: flex;
	justify-content: space-evenly;
	height: 20px;
	width: 300px;
	margin-top: -14px;
	margin-left: 615px;
	font-size: 12px;
}
.container2{
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	
}
.left{
	width: 120px;
	margin-top: 20px;
	color:black;
	padding: 20px;
}
.center{
	color:black;
	padding: 20px;
	width: 400px;
	height: 490px;
	border-right: 1px solid lightgrey ;
	border-left: 1px solid lightgrey;


}
.right{
	color:black;
	width: 120px;
	margin-top: 20px;
	padding: 20px;
}
.footer{
	background-color: #9DD0E5;
	height: 10px;
	padding: 10px;
	text-align: center;
	color: white;
}